<!-- Header -->
<%- include('templates/_header') %> 
<!-- Header end -->

<!-- Main -->
<main id="main-site" class="mt-2 py-12">
    <div class="container max-w-[1024px]">
        <div class="box-nav flex flex-wrap justify-between">
            <div class="filter">
                <a href="/" class="text-gray-800 font-bold"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>

        <div class="text-center mt-[2em]">
            <h2 class="text-slate-800 font-bold text-3xl py-[.5em] uppercase">Create User</h2>
            <span class="text-slate-600 font-semibold">Create a new user using the form below</span>
        </div>

        <form method="post" id="add-user" action="/api/users">
            <div class="new-user">
                <!-- Gender -->
                <div class="form-group">
                    <label for="name" class="text-slate-600">Username</label>
                    <input type="hidden" name="id">
                    <input type="text" name="name" placeholder="Enter a name" required autocomplete="off">
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="name" class="text-slate-600">Email</label>
                    <input type="email" name="email" placeholder="Enter an email" autocomplete="off">
                </div>

                <!-- Gender -->
                <div class="form-group">
                    <label for="gender" class="text-slate-600">Gender</label>
                    <div class="radio inline-block">
                        <input type="radio" name="gender" value="Male" id="radio-male">
                        <label for="radio-male" class="text-slate-600 radio-label">Male</label>
                    </div>
                    <div class="radio inline-block">
                        <input type="radio" name="gender" value="Female" id="radio-female">
                        <label for="radio-female" class="text-slate-600 radio-label">Female</label>
                    </div>
                </div>

                <!-- Active -->
                <div class="form-group">
                    <label for="active" class="text-slate-600">Active</label>
                    <div class="radio inline">
                        <input type="radio" name="active" value="Yes" id="radio-yes">
                        <label for="radio-yes" class="text-slate-600 radio-label">Yes</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="active" value="No" id="radio-no">
                        <label for="radio-no" class="text-slate-600 radio-label">No</label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="w-full px-[.9em] py-[1em] bg-slate-300 font-bold rounded-md mt-5 border-none hover:shadow-lg hover:opacity-75 transition duration-300 ease-in-out my-[.5em] mx-0 update">Create</button>
                </div>
            </div>
        </form>
    </div>
</main>
<!-- Main end -->

<!-- Footer -->
<%- include('templates/_footer') %> 
<!-- Footer end -->